
.Button-outline {
    pointer-events: visible;
    cursor: pointer;
    margin: 15px;
    padding: 8px;
    background-color: limegreen;
    border-radius: 12px;
    height: 35px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ios {
    background-color: black;
}
.android {
    background-color: green;
}
.github {
    background-color: teal;
}

.logo {
   
    filter: invert(100%) sepia(0) saturate(0%) brightness(103%) contrast(102%)
}

.logo-size {
    height: 25px;
    margin-left: 8px;
}