.Grid-view {
    color: #e7b753;
    font-size: 18px;
    min-width: 25vh;
    border-radius: 12px;
    background-color: #41266e;
    margin: 10px;
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 45px;
    text-align: start;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;

}

.Grid-desc {
    color: white;
    float: inherit;
    font-family: "Roboto" sans-serif;
    font-size: 15px;
}

.smooth-link {
    scroll-behavior: smooth;
}