.App {


  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin: 0;

  text-align: center;
  flex-direction: column;
  position: absolute;
}


.Logo-view {
  align-items: center;
  align-self: center;
  justify-content: center;
  pointer-events: visible;
  margin: 100px;
}

.Container-items {
  display: flex;
  flex-direction: row;
}

.Logo {
  height: 10vmax;
  image-rendering: optimizeQuality;
  pointer-events: none;
  border-radius: 7.5vmax;
}

.Mock1 {
  height: 55vw;
  align-self: center;
  display: flex;
  pointer-events: none;
}
.Mock-view {
  display: flex;
  pointer-events: none;
}

.Tool-bar {
  background-color: #41266e;
  max-height: 45px;
  flex-direction: row;
  justify-content: space-between;
}

.App-link {
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.Line {
  height: 1px;
  background-color: gray;
}

.App-header {
  background-color: #17181a;
}

.Header {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
}

.Body {
  color: white;
}

.Roboto {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

.Header-one {
  font-size: 21px;
}
.Title {
  font-size: 32px;
  margin-top: 6px;
  font-weight: bold;
}
.Desc {
  font-size: medium;
  font-weight: 200;
  margin-top: 5px;
}

.Row {
  width: fit-content;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-content: center;
  place-content: center;
}

.Row-column {
  flex-direction: row;
  margin-top: 50px;
  text-align: center;
  width: fit-content;
  margin-bottom: 25px;
}

.Feature-title {
  color: white;
  font-weight: bold;
  font-size: 54px;
}

.Feature-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  
  
}

.Feature-mocks {
  height: 44vw;
  image-rendering: optimizeQuality;
  pointer-events: none; 
}

@media (prefers-reduced-motion: no-preference) {
.Feature-mock-genre {
  height: 45vw;
  image-rendering: optimizeSpeed;
  pointer-events: none;
  animation: float-up infinite 8s linear;
}
}

.Feature-margin-right {
  margin-right: 50px;
}

.Feature-margin-left {
  margin-left: 50px;
}

.Feature-container {
  color: white;
  max-width: 50vw;
  align-self: center;
  font-size: large;
  align-content: center;
  background-color: rgba(70, 35, 122, 0.4);
  padding: 15px;
  padding-bottom: 30px;
  border-radius: 8px;
  
  
}


.Feature-container-floater {
  color: white;
  max-width: 50vw;
  align-self: center;
  font-size: large;
  align-content: center;
  background-color: rgba(70, 35, 122, 0.4);
  padding: 15px;
  padding-bottom: 30px;
  border-radius: 8px;
  

}


.Feature-header {
  margin-top: 55px;
  background-color: rgba(64, 98, 187, 0.4);
  border-radius: 8px;
  padding: 10px;
  height: 80px;
  display: flex;
}

.Tracker-logo {
  height: 12vw;
  border-radius: 6px;
  margin-left: 15px;
}



@keyframes float-up {
  from {
    transform: translateY(25);
  }
  to {
    transform: translateY(-25)
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #dd0cc1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
